body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}
.hole {
    background-color: #8b4513;
    border-radius: 5px;
    position: relative;
}
.gnome {
    width: 80px;
    height: 80px;
    position: absolute;
    transition: all 0.3s ease;
    object-fit: contain;
    cursor: pointer; /* Добавляем курсор-указатель */
    transform: scale(1);
    transition: transform 0.1s ease;
}
.gnome:active {
    transform: scale(0.9); /* Эффект нажатия */
}
.score {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}